.slider {
  width: 85vw;
  border-radius: 15px;
  height: 80vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}

.list-item {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.buttons-container {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.button-style {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust the spacing from the bottom of the slider */
}

.dot-item {
  height: 12px;
  width: 12px;
  background-color: #bbb; /* Light gray background */
  border-radius: 50%; /* Makes the dots circular */
  margin: 0 5px; /* Adds space between the dots */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition when dot is active */
}

.dot-active {
  background-color: #717171; /* Darker color for the active dot */
}

@media screen and (max-width: 768px) {
  .slider {
    height: 400px;
  }
}
